<% include ./partials/header.ejs %>

<h1> Montana </h1>

<p> Montana is the faimly dog, a 14 year old Border Colie mix, he has had a pretty good but hard life. 4 years ago in the summer he tore both of his ACL tendents in his back legs and this summer he had to get an eye removed. but dispite all this he isall ways happy when family is around. </p>

<% include ./partials/footer.ejs %>
