<% include ./partials/header.ejs %>

<h1> Petter Musselman </h1>

<p> Petter Musselman is the father to Tyler Downey and husband to Donna Musselman. Petter has been in the Insurance Industiry for the past 40 years and currently works at Cowan Insurance.</p>

<% include ./partials/footer.ejs %>
