<% include ./partials/header.ejs %>

<h1> Tyler Downey </h1>

<p> Tyler Downey is the son of both Petter and Donna Musselman. he is currently in his 7th year at Georgian College, after taking the 3 year photography programe at the college, he took a year off and is in his last year at the Interactive Web Deisgn program at Georgian.  </p>

<% include ./partials/footer.ejs %>
